// Navigation code here

.navbar{

   background: rgb(240, 240, 240);
   padding: 20px;
   display: flex;

    h1{
        .logo();
    }
    nav{
        .navigation();

        a{
            text-decoration: none;
            color: @footer-font-color;
            font-size: 1.6rem;
            padding: 20px;
        }
        

    }
}